  .PlayingBoard{
      padding: 5px 0px;
      font-size: 12px;
      box-sizing: border-box;
  }
  
  svg#icon-audio-disc {
    display: none;
    margin: auto;
    width: 80%;
    stroke: #fff;
  }

  @media screen and (min-width: 1270px) {
    svg#icon-audio-disc {
      width: 60%;
    }
  }

  svg#icon-audio-disc path{
    color: #fff;
  }

  #icon-audio-disc {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation: spinning 3s linear alternate infinite;
    animation: spinning 3s linear alternate infinite;
  }

  @keyframes spinning {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .title {
    overflow : hidden;
  }
  .title p{
    color: rgba(255,255,255,0.7);
    margin: 0;
    display : inline-block;
    padding-left: 2px;
    white-space : nowrap;
    animation : scrolltitle 15s linear infinite;
  }