body{
    background-color: #1f1f1f;
}

.base {
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 1;
    animation: gradient 12s ease infinite , fadein 1.4s ease;
    background: linear-gradient(45deg, #23d5ab,#23a6d5,#ee7752 );
    background-size: 190% 190%;
}

@supports (-webkit-touch-callout: none) {
    body {
      height: -webkit-fill-available;
    }
    .base {
      /* Safari用のハック */
      height: -webkit-fill-available;
    }
}

@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

@keyframes fadein {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 143px;
    background: url(../../assets/wave.png);
    animation: wave 10s linear infinite;
}
.wave::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    width: 100%;
    height: 143px;
    background: url(../../assets/wave.png);
    animation: wave-reverse 10s linear infinite;
}
.wave::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    width: 100%;
    height: 143px;
    background: url(../../assets/wave.png);
    animation-delay: -5s;
    animation: wave 20s linear infinite;
}
@keyframes wave {
0% {
    background-position: 0;
}
100% {
    background-position: 1360px;
}
}

@keyframes wave-reverse {
0% {
    background-position: 1360px;
}
100% {
    background-position: 0;
}
}

.RoomContainer{
    padding-top: 20px;
    box-sizing: border-box;
}
.movieWrap,.addForm,.chat_mob{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.movie{
    flex-grow: 1;
}
.chat_desk{
    width: 450px;
    min-width: 360px;
    padding-left: 20px;
    box-sizing: border-box;
}
.chat_mob{
    display: none;
}
.addForm{
    box-sizing: border-box;
    margin-top: 15px;
    padding: 10px 11px;
    border-radius: 2px;
    background: #fff;
}

@media screen and (max-width: 1300px) {
    .movieWrap,.addForm{
        width: 95%;
    }
    .chat_desk{
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .movieWrap,.addForm,.chat_mob{
        width: 96%;
    }
    .chat_desk{
        display: none;
    }
    .chat_mob{
        display: block;
    }
    .movie{
        width: 100%;
        padding-right: 0px;
        margin-bottom: 15px;
        box-sizing: border-box;
    }  
}