@media screen and (max-width: 400px){
    .youtube_display{
        height: 200px;
    }
}

@media screen and (max-width: 600px){
    .youtube_display{
        height: 270px;
    }
}

@media screen and (min-width: 601px){
    .youtube_display{
        height: 360px;
    }
}

@media screen and (min-width: 1500px){
    .youtube_display{
        height: 500px;
    }
}

@media screen and (min-width: 1920px){
    .youtube_display{
        height: 640px;
    }
}