@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.header_logo{
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1px;
    position: relative;
    color: #55E6C1;
    z-index: 2;
    user-select: none;
    box-sizing: border-box;
    padding-left: 2px;
}
.header_logo > span{
    font-size: 28px;
    color: #55E6C1;
}